@import url("Global.css");

.user-container {
    background-color: var(--frappy-background);
    color: var(--frappy-white);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
    min-height: 100vh;
    margin-left: 15%;
  }

.user-container > * {
    margin-left: 2%;
}

.account-heading {
  font-size: 3em;
}


.user-header {
  display: grid;
  grid-template-columns: auto auto;
  flex-grow: 0;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  font-size: 2em;
}

.user-title {
  align-self: end;
  margin-bottom: 0.1em;
}

.profile-picture {
  border-radius: 50%;
  background-color: white;
  margin-left: 0.5em;
  margin-right: 0.3em;
  vertical-align: middle;
}

.ruler {
  width: 95%;
}

.user-details {
  margin-left: 5%;
  margin-top: 5em;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.account-details {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: flex-start;
  font-size: 2em;
  row-gap: 2em;
  flex-grow:4;
}

.editable-text-field {
  background-color: var(--frappy-white);
  border-radius: 5em;
  margin-left: 0.4em;
  white-space: nowrap;
  display: flex;
}


.editable-text {
  color: black;
  font-size: 1em;
  margin-right: auto;
  margin-left: 12px;
  margin-top: 16px;
  margin-right:16px;
}

.edit-icon {
  height: 40px;
  width: 40px;
  margin: 12px;
  margin-left: auto;
  border-radius: 50%;
}

.edit-icon:hover {
 background-color: lightgray;
 cursor: pointer;
}

.field-title {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 0.2em;
  white-space: nowrap;
}

.colon {
  display: flex;
  align-items: center;
  justify-content: end;
}

.balance-information {
  margin-left: 12%;
  display: grid;
  align-content: flex-start;
  white-space: nowrap;
  row-gap: 0.2em;
  font-size: 2em;
  font-weight: 600;
}

.balance-display {
  font-size: 2em;
  border-radius: 15px;
  padding: 25px 25px 25px 25px;
  background-color: var(--frappy-lgreen);
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.time-worked-div {
  margin-top: 1em;
  display: grid;
  align-content: flex-start;
  white-space: nowrap;
  row-gap: 0.2em;
}

.time-display {
  font-size: 2em;
  border-radius: 15px;
  padding: 25px 25px 25px 25px;
  background-color: var(--frappy-orange);
}

input:placeholder-shown {
  font-style: italic;
}