@import url("Global.css");

.balance-container {
    background-color: var(--frappy-background);
    color: var(--frappy-white);
    min-height: 100vh;
}

.title {
    text-decoration: underline;
    margin-bottom: 0.3em;
    text-align: left;
    margin-left: 17%;
    margin-right: 17%;
    padding-left: 4px;
}

.balance-input {
    margin-left: 17%;
    margin-right: 17%;
    background-color: var(--frappy-white);
    color: black;
    font-weight: 600;
    font-size: 5em;
    border-radius: 0.3em;
    margin-bottom: 0.1em;
}

.new-balance {
    margin-left: 17%;
    margin-right: 17%;
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 3em;
    display: flex
}

.text-boi {
    padding-left: 4px;
}

.balance-value {
    margin-left: auto;
    font-weight: 600;
    padding-right: 4px;
}

.buttons {
    display: flex;
    margin-right: 17%;
    margin-left: 17%;
    padding-left: 4px;
    padding-right: 4px;
}

.button {
    border-radius: 0.4em;
    font-size: 2em;
    padding: 4px;
}


.confirm {
    background-color: var(--frappy-lgreen);

    margin-left: auto;
}

.cancel {
    background-color: var(--frappy-red);

    margin-right: auto;
}

