@import url("Global.css");

.balance-container {
    background-color: var(--frappy-background);
    color: var(--frappy-white);
    min-height: 100%;
}

.balance-container > * {
    margin-left: 10%;
    margin-right: 10%;
}

.balance-title {
    margin-bottom: 0.3em;
    text-align: center;
    font-size: 3.5em;
}

.step-container {
    display: flex;
    justify-content: flex-start;
    font-weight: 600;
    font-size: 5em;
    border-radius: 0.3em;
    margin-bottom: 0.1em;
    margin-bottom: 0.1em;
}

.dollar {
    background-color: var(--frappy-white);
    border-radius: 0.3em 0 0 0.3em;
    color: black;
    padding-left: 16px;
    padding-right: 4px;
    border-right: 1px solid grey;
}

.balance-input {
    background-color: var(--frappy-white);
    color: black;
    border-radius:0 0.3em 0.3em 0;
    width: 100%;
    border: none;
    text-align: right;
    font-size: 1em;
    padding-left: 8px;
}

.new-balance {
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 32px;
    display: flex;
    padding-left: 4px;
}

.text-boi {
    padding-left: 4px;
}

.balance-value {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
    font-weight: 600;
    padding-right: 4px;
}

.balance-buttons {
    display: flex;
    padding-left: 4px;
    padding-right: 4px;
}

.balance-button {
    border-radius: 0.4em;
    font-size: 2em;
    padding: 4px;
}


.confirm {
    background-color: var(--frappy-lgreen);
    margin-left: auto;
    margin-right: 4px;
}

.cancel {
    background-color: var(--frappy-red);
    margin-right: auto;
    margin-left: 4px;
}



.balance-input::-webkit-inner-spin-button,
.balance-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.balance-input::before {
    position: absolute;
    content: "$";
}