.customizeDrink-container {
  display: flex;
  width: 85%;
  flex-direction: row;
  height: 100%;
  margin-left: 15%;
}

/* Override of the DrinkCard.css .drinkCard-container class */


.drink-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: var(--frappy-lgreen);
  padding-top: 10%;
}

.customization-list {
  width: 100%;
  margin-right: 100px;
  background-color: lightgrey;
  margin-bottom: 20%;
  /* margin-left: 10%; */
}

.customization-list ul {
  list-style: none;
  text-align: left;
}

.customization-selection {
  flex: 7;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--frappy-background);
  
}

.delete-btn {
  width: 5%;
  background-color: red;
  margin-right: auto;
  border-radius: 15px;
}

.delete-btn:hover {
  background-color: salmon;
}

.delete-btn:hover {
  background-color: salmon;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.decision-btns {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
}

.back-btn {
  background-color: var(--frappy-dgreen);
  border-radius: 5px;
  padding: 10px;
}

.back-btn:hover {
  background-color: var(--frappy-lgreen);

}

.add-to-cart-btn {
  background-color: var(--frappy-lgreen);
  border-radius: 5px;
  padding: 10px;
}

.add-to-cart-btn:hover {
  background-color: var(--frappy-l-lgreen);

}

.size-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
}

.current-customizations {
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-bottom: 2%;
}

.customization-button {
  font-size: 2rem;
  margin: 5px;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  background-color: var(--frappy-gray);
}

.customization-button:hover {
  background-color: var(--frappy-lgreen);
}

.customization-amounts {
  margin-right: auto;
}

.white {
  color: #FFF;
}

.large {
  font-size: 2.5rem;
}