.customize-drink-container {
  margin-left: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: var(--frappy-white);
}

.customize-drink-details {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: var(--frappy-lgreen);
  height: 100%;
  width: 100%;
  padding-top: 12%;
}

.customize-drink-current-customizations {
  padding-top: 10%;
}

.customize-drink-current-customizations-list {
  background-color: var(--frappy-gray);
  color: black;
  list-style: none;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  padding-left: 5%;
}

.customize-drink-current-customizations-list > li {
  padding-top: 7px;
}

.customize-drink-current-customizations-list > li:last-child {
  padding-bottom: 7px;
}

.customize-drink-customizations-container {
  display: flex;
  flex-direction: column;
  flex: 7;
  justify-content: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
}

.customize-drink-size-options {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-around;
  padding-top: 10%;
}

.hide-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.hide-radio + img {
  cursor: pointer;
}

.hide-radio:checked + img {
  background-color: var(--frappy-l-lgreen);
}

.customize-drink-img-sm {
  height: 80%;
  width: 30%;
  background-color: var(--frappy-white);
}




/* .customizeDrink-container {
  display: flex;
  width: 85%;
  flex-direction: row;
  height: 100%;
  margin-left: 15%;
}


.drink-details {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: var(--frappy-lgreen);
  padding-top: 10%;
}

.customization-list {
  width: 100%;
  margin-right: 100px;
  background-color: lightgrey;
  margin-bottom: 20%;
}

.customization-list ul {
  list-style: none;
  text-align: left;
}

.customization-section {
  flex: 7;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--frappy-background);
}

.delete-btn {
  width: 5%;
  background-color: red;
  margin-right: auto;
  border-radius: 15px;
}

.delete-btn:hover {
  background-color: salmon;
}

.delete-btn:hover {
  background-color: salmon;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.decision-btns {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
}

.back-btn {
  background-color: var(--frappy-dgreen);
  border-radius: 5px;
  padding: 10px;
}

.back-btn:hover {
  background-color: var(--frappy-lgreen);

}

.add-to-cart-btn {
  background-color: var(--frappy-lgreen);
  border-radius: 5px;
  padding: 10px;
}

.add-to-cart-btn:hover {
  background-color: var(--frappy-l-lgreen);

}

.size-options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10%;
}

.current-customizations {
  display: flex;
  flex-direction: column;
  padding: 10%;
  padding-bottom: 2%;
}

.customization-button {
  font-size: 2rem;
  margin: 5px;
  border: 1px solid black;
  border-radius: 15px;
  color: black;
  background-color: var(--frappy-gray);
}

.customization-button:hover {
  background-color: var(--frappy-lgreen);
}

.customization-amounts {
  margin-right: auto;
}

.white {
  color: #FFF;
}

.large {
  font-size: 2.5rem;
} */