.customize-drink-container {
  margin-left: 15%;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: var(--frappy-white);
  background-image: linear-gradient(#08A45B, #143224);
}

.customize-drink-details {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  width: 30%;
  padding-top: 5%;
  position: sticky;
  top: 0;
  border-radius: 15px;
}

.customize-drink-current-customizations {
  padding-top: 10%;
  font-size: 1.5rem;
}

.customize-drink-current-customizations-list {
  background-color: var(--frappy-gray);
  color: black;
  list-style: none;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  padding-left: 5%;
}

.customize-drink-current-customizations-list > li {
  padding-top: 7px;
}

.customize-drink-current-customizations-list > li:last-child {
  padding-bottom: 7px;
}

.customize-drink-customizations-container {
  display: flex;
  flex-direction: column;
  flex: 7;
  justify-content: center;
  font-size: 3rem;
  height: 100%;
  width: 100%;
  background-color: var(--frappy-background);
}

.customize-drink-size-options {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-around;
  padding-top: 5%;
}

.hide-radio {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.hide-radio + img {
  cursor: pointer;
}

.hide-radio:checked + img {
  background-color: var(--frappy-l-lgreen);
}

.hide-radio:checked + div {
  background-color: var(--frappy-l-lgreen);
}

.customize-drink-img-sm {
  height: 80%;
  width: 30%;
  background-color: var(--frappy-white);
}

.customize-drink-bases-container {
  padding-top: 3%;
}

.customize-drink-selection-btn {
  color: black;
  background-color: var(--frappy-gray);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.customize-drink-bases-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5%;
}

.customize-drink-extra-item {
  background-color: var(--frappy-gray);
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2rem;
  border-radius: 15px;
}

.customize-drink-extra-btns-container {
  display: flex;
  flex-direction: row;
}

.customize-drink-reduce-increment-extra-btn {
  background-color: white;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  color: black;
}

.customize-drink-nav-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
}

.customize-drink-nav-btn {
  cursor: pointer;
  background-color: var(--frappy-dgreen);
  padding: 10px;
  border-radius: 15px;
}

.customize-drink-lgreen {
  background-color: var(--frappy-lgreen);
}

