.drink-customization-modal-container {
  background-color: #10603B;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.large-base {
  font-size: 3.5rem;
}

.base-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.base-btn {
  font-size: 2rem;
  border-radius: 5px;
  background-color: #D9D9D9;
  padding: 10px;
  color: black;
}

.base-btn-selected {
  background-color: #07A45B;
}

.addin-item {
  display: flex;
  width: 48%;
  justify-content: center;
  font-size: 2em;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #D9D9D9;
  color: black;
}

.addins-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}