@import url("Global.css");

.editable-text-field {
    background-color: var(--frappy-white);
    border-radius: 5em;
    margin-left: 0.4em;
    display: flex;
}


.editable-text {
    color: black;
    font-size: 1em;
    margin-right: auto;
    margin-left: 12px;
    margin-top: 8px;
    margin-right:16px;
}

.edit-icon {
    height: 40px;
    width: 40px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: auto;

}