html {
  background-color: var(--frappy-background);
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
}

:root {
  --frappy-background: #143224;
  --frappy-dgreen: #10603B;
  --frappy-lgreen: #08A45B;
  --frappy-l-lgreen: #09c16b;
  --frappy-white: #F9F9F9;
  --frappy-red: #F76868;
  --frappy-orange: #FF891D;
  --frappy-link: #DCFFD0;
  --frappy-gray: #D9D9D9;
  --frappy-dgray: #363533;
}

.small-link {
  color: var(--frappy-link);
  font-size: 0.5em;
  font-weight: lighter;
  text-decoration: underline;
  user-select: none;
}

.loader {
  border: 8px solid var(--frappy-white);
  border-top: 8px solid var(--frappy-dgray);
  border-radius: 50%;
  width: 10%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.circle {
  border-radius: 50%;
}