@import url('Global.css');

.home-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: var(--frappy-white);
    background-color: var(--frappy-background);
    min-height: 100vh;
    margin-left: 10%;
}

.header {
    flex-grow: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    align-items: center;
    margin-top: 0.5em;
}

.home-title {
    font-size: 3em;
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.profile-picture {
    display: flex;
    border-radius: 50%;
    background-color: white;
  }

.fast-nav-buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    width: 75%;
    flex-grow: 0;
    margin-top: 2em;
}

.button {
    display: flex;
    font-size: 1.8em;
    width: 7em;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    padding: 0.5em;
    user-select: none;
}

.favorite-button {
    background-color: var(--frappy-red);
}

.favorite-button:hover {
    background-color: lightcoral;
}

.order-button {
    background-color: var(--frappy-lgreen);
}

.order-button:hover {
    background-color: var(--frappy-l-lgreen);
}

.account-button {
    background-color: var(--frappy-orange);
}
.account-button:hover {
    background-color: lightsalmon;
}

.list-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    width: 80%;
    margin-top: 4em;
    flex-grow: 1;
}

.filler {
    background-color: black;
    height: 100px;
}

.detail-card {
    background-color: var(--frappy-lgreen);
    border-radius: 0.5em;
    height: 130px;
    color: black;
    font-size: 3em;
    display: flex;
    flex-direction: column;
}

.detail-title {
    align-self: start;
    margin-left: 0.5em;
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: 500;
    flex-grow: 0;
    margin-top: 0.25em;
}

.detail-value {
    align-self: center;
    margin-right: 0;
    color: var(--frappy-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}



.pay-container {
    height: 100%;
    background-color: var(--frappy-background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pay-container > div {
    background-color: var(--frappy-white);
    margin-bottom: 0.75em;
    font-size: 3em;
    width: 90%;
    text-align: right;
    border-radius: .25em;
}

.pay-container h1 {
    color: var(--frappy-white);
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.pay-container h2 {
    align-self: flex-start;
    margin-left: 5%;
    color: var(--frappy-white);
}

.pay-field {
    display: flex;
}

.last-field {
    margin-bottom: 1em !important;
}
.pay-dollar {
    margin-right: auto;
    margin-left: .25em;
    padding: 4px 0px 4px 0px;
}

.pay-number {
    margin-right: .25em;
    padding: 4px 0px 4px 0px;
}


.pay-buttons {
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0) !important;
}
.pay-button {
    background-color: var(--frappy-red);
    border-radius: 4px;
    color: var(--frappy-white);
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 0.75em;

}

.pay-button:hover {
    cursor: pointer;
}

.pay-cancel {
    background-color: var(--frappy-red);
}

.pay-confirm {
    background-color: var(--frappy-lgreen);
    margin-left: auto;
}

.pay-status {
    background-color: rgba(0,0,0,0) !important;
    font-size: 1.25em !important;
    color: var(--frappy-white);
    margin-top: -1.95em;

}

.pay-green {
    color: var(--frappy-lgreen);
}

.pay-red {
    color: var(--frappy-red);
}

.pay-loader {
    aspect-ratio : 1 / 1;
}

.pay-loader {
    border: 8px solid var(--frappy-white);
    border-top: 8px solid var(--frappy-dgray);
    border-radius: 50%;
    width: 10%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

