
.menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 15%;
  background-color: var(--frappy-background);
  color: white;
  flex-grow: 1;
}

.heading {
  display: flex;
  height: 10%;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.drinkCard {
  display: blocK;
  width: 256px;
  padding: 15px;
  margin: 15px;
  background-color: var(--frappy-lgreen);
  border-radius: 15px;
}

.drinkList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.checkout-btn {
  background-color: var(--frappy-dgreen);
  color: white;
  border: none;
  text-decoration: none;
  margin-left: 30px;
  height: 50px;
  width: 120px;
  border-radius: 15px;
  font-size: 16pt;
}

.checkout-btn:hover {
  background-color: var(--frappy-lgreen);
}
