@import url('Global.css');

.box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.scrollable-heading {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0.75em;
    text-decoration: underline;
}

.container {
    background-color: var(--frappy-white);
    margin-bottom: 2em;
    border-radius: 1em 0.5em 0.5em 1em;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    height: 1px;
}

.container > * {
    margin-top: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;
}

.container::-webkit-scrollbar {
    background-color: var(--frappy-gray);
    border-radius: 1em;
}

.container::-webkit-scrollbar-button {
    display: none;
    background-color: black;
}

.container::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border-radius: 1em;
}