@import url('Global.css');

.update-container {
    background-color: var(--frappy-background);
    color: var(--frappy-white);
    height:100%;
}

.update-container > * {
    margin-left: 10%;
    margin-right: 10%;
}

.update-title {
    margin-bottom: 0.3em;
    padding-left: 4px;
    font-size: 3em;
    white-space: nowrap;
    text-align: center;
}

.input-container {
    font-size: 1.3em;
}

.input-name {
    text-align: left;
    font-style: italic;
    margin-bottom: 0.3em;
    padding-left: 4px;
}


.input-field {
    background-color: var(--frappy-white);
    color: black;
    border-radius: 1em;
    text-align: left;
    padding: 8px;
    padding-left: 16px;
    margin-bottom: 0.5em;
    width: 100%;
    font-size: 2em;
    border: hidden;
}

.balance-buttons {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
    padding-right: 4px;
}

.balance-button {
    border-radius: 0.4em;
    font-size: 2em;
    padding: 4px;
    user-select: none;
}


.confirm {
    background-color: var(--frappy-lgreen);
    margin-left: auto;
}

.confirm:hover {
    background-color: var(--frappy-l-lgreen);
}

.cancel {
    background-color: var(--frappy-red);
    margin-right: auto;
}

.cancel:hover {
    background-color: lightcoral;
}

.input-field:placeholder-shown {
    font-style: italic;
}

.hidden {
    display:none;
}